body {
    background-color: #C14040;
    font-family: 'Bree Serif', serif;
}

.header{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    background-color: #EFE3E3;
    color: #C14040;
    font-family: 'Bree Serif', serif;
    padding: 15px;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 2%;
    border-radius: 15px;
    opacity: 90%;
    font-size: 1.2em;
}
.header__title {
    margin-right: auto;
    font-size: 1.8em;
}

.header__menu__items {
    display: flex;
}

@media all and (max-width: 900px) {
    .header__menu__items {
        flex-direction: column;
        align-items: flex-start
    }
}

.header__menu__items > li {
padding-right: 10px;
}

@media all and (max-width: 900px) {
    .header__menu__items > li {
        padding-bottom: 8px;
    }
}

header a {
    text-decoration: none;
    color: #C14040;
}

.pokemon__card >a {
    text-decoration: none;
    color: #ffffff;
}

.pokemon__list__container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
}

.pokemon__card {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 15px;
    margin-top: 2%;
    border-radius: 15px;
    background-color: #982C2C;
    color: #ffffff;
    text-align: center;
}

@media all and (max-width: 900px) {
    .pokemon__card {
        width: 250px;
    }
}

.pokemon__card__img{
    width: 80%;
    text-align: center;
}

.pokemon__card__name {
    text-align: center;
}

.pokemon__stats {
    color:#ffffff;
    margin: 3%;
}

.pokemon__stats__card-title {
    text-align: center;
    font-size: 2em;

}

.pokemon__stats__card {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    width: 100%;
    margin-top: 2%;
}

@media all and (max-width: 900px) {
    .pokemon__stats__card {
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr;
    }
}

.pokemon__stats__img {
    justify-self: center;
}

.pokemon__stats__info {
    display: flex;
    flex-direction: column;
    background-color: #982C2C;
    justify-content: space-evenly;
    border-radius: 15px;
    padding: 3%;
    line-height: 40px;
    margin: 20px;
    font-size: 1em;
    font-weight: normal;
}

@media all and (max-width: 900px) {
    .pokemon__stats__info {
        font-size: 1em;
    }
}

.pokemon__stats__card-subtitle {
    font-size: 1.5em;
}


.pokemon__stats__type__container{
    display: flex;
    margin-right: 2px;
}

.pokemon__stats__type__container > span{
    margin-left: 5px;
}

.pokemon__stats__type{
    color: #ffffff;
    border-radius: 15px;
    padding: 2px;
    width: 19%;
    text-align: center;
    font-size: 0.9em;
}

.Feu {
    background-color: #FF4422;
}

.Plante {
    background-color: #77CC55;
}

.Poison {
    background-color: #AA5599;
}

.Acier {
    background-color: #AAAABB;
}

.Combat {
    background-color: #BB5544;
}

.Dragon {
    background-color: #7766EE;
}

.Glace {
    background-color: #77DDFF;
}

.Eau {
    background-color: #3399FF;
}

.Électrik {
    background-color: #FFBB33;
}

.Insecte {
    background-color: #AABB22;
}

.Psy {
    background-color: #FF5599;
}
.Normal {
    background-color: #BBAABB;
}

.Roche {
    background-color: #BBAA66;
}

.Sol {
    background-color: #DDBB55;
}

.Spectre {
    background-color: #6666BB;
}

.Ténèbres {
    background-color: #665544;
}

.Vol {
    background-color: #6699FF;
}

.pokemon__stats__progress {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

progress {
    accent-color: #ffffff;
    height: 30px;
}

.stats_left {
    width: 20%;
}

.types__page {
    margin: 1%;
}

.types__page__title{
    color: #ffffff;
    margin-left: 1%;
    margin-top: 5%;
}

.types__container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin-top: 2%;
    gap: 15px;
}

.type {
    height: 50px;
    width: 200px;
    border-radius: 10px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center
}

.type > a {
    text-decoration: none;
    color: #ffffff;
}